<p>institute-of-dental-science page</p>
<html>
	<head>
		<title>Table - Students</title>
	</head>
    <body>
		<h1>Table - Students</h1>

		<table border="1">

			<caption>Students</caption>

			<tr>
				<th>Sl. No</th>
				<th>Name</th>
				<th>Marks</th>
			</tr>

			<tr>
				<td>1</td>
				<td>John</td>
				<td>89</td>
			</tr>

			<tr>
				<td>2</td>
				<td>Scott</td>
				<td>45</td>
			</tr>

			<tr>
				<td>3</td>
				<td>Allen</td>
				<td>64</td>
			</tr>

		</table>

	</body>
</html>


