<h1>KimsHospital LargeScale Applications using lazy loading Ui</h1>
<!-- <a routerLink="Departments/accident">Departments</a>&nbsp; -->
 <!--Parents routes configure like this way-->
<a routerLink="Departments">Departments</a>&nbsp;
<a routerLink="Institue">Institue</a>&nbsp;

<a routerLink="InternationalPatients">InternationalPatients</a>&nbsp;

<a routerLink="OnlineLabReports">OnlineLabReports</a>&nbsp;

<a routerLink="Procedures">Procedures</a>&nbsp;

<a routerLink="Procedures123">WildCardRouteTest</a>&nbsp;
